@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-[#282828]
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #bdae93;
    @apply rounded-full
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #458588;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #458588;
}